/*#1d70ba*/
/*#1b65a9*/
/*#063E70*/
/*#063c6b*/
/*#5c96ca*/
/*#ca5c5c*/
/*Naslov*/
.naslov-galerija {
  text-transform: uppercase;
  font-size: 2em;
  position: relative; }

.naslov-galerija:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300px;
  border: 1px solid #063E70;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.galerija-item {
  margin-bottom: 10px; }
