/*#1d70ba*/
/*#1b65a9*/
/*#063E70*/
/*#063c6b*/
/*#5c96ca*/
/*#ca5c5c*/
.granica {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.podvuceno {
  border-bottom: 5px solid #ff8c8c;
  margin-bottom: 5px; }

body {
  background-color: #f6f6f6 !important; }

.container {
  font-family: 'Open Sans', sans-serif !important; }

/*Resetovanje margina i padding-a za container i row(pojavljivao se scroll bar)*/
.row {
  margin-left: 0px;
  margin-right: 0px; }

.container {
  padding: 0px; }

/*Button*/
.btn:focus, .btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/*HEADER*/
.pocetna-trazi {
  border-radius: 30px 0 0 30px; }

@media (max-width: 600px) {
  #logo img {
    width: 100px;
    height: auto; }
  #logo {
    margin: 0; } }

.top-bar {
  height: 25px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 1px 2px -2px gray;
  box-shadow: 0 1px 2px -2px gray;
  border-bottom: 1px solid #dddddd;
  font-size: 0.9em;
  margin-bottom: 20px; }

.top-bar-text {
  color: #777777;
  font-family: 'Open Sans', sans-serif; }

.trazi-dugme {
  background-color: #1d70ba;
  color: white;
  border-radius: 0 30px 30px 0;
  padding-left: 1rem;
  padding-right: 1rem; }

.form-control {
  outline: none; }

.form-control:focus {
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px rgba(82, 168, 236, 0);
  box-shadow: inset 0 1px 1px transparent, 0 0 8px rgba(82, 168, 236, 0); }

.trazi-dugme:hover {
  background-color: #1b65a9; }

.korpa {
  background-color: #f6f6f6;
  color: #063E70;
  border: 0px solid #063E70;
  border-radius: 100px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  outline: none; }

.korpa:active {
  background-color: #063E70;
  border: none;
  outline: none; }

.korpa:focus {
  border: none;
  outline: none; }

.korpa:hover {
  -webkit-box-shadow: 0px 5px 18px #888888;
  box-shadow: 0px 5px 18px #888888;
  background-color: #063E70;
  color: white;
  border: 0px solid #063E70; }

/*Navigacija*/
.glavna-nav-boja {
  background-color: #1d70ba; }

.glavni-navbar {
  padding: 0px;
  background-color: #1d70ba; }

.navbar-collapse {
  background-color: #1d70ba; }

.glavna-nav-link {
  color: white !important;
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 0.9rem !important;
  padding-left: 0.9rem !important; }

.navbar-toggler {
  color: white !important;
  border-color: transparent !important; }

.glavna-nav-link:hover {
  background-color: #1b65a9;
  color: white; }

.dropdown-menu {
  border-radius: 0px;
  border: 1px solid white;
  margin-top: 0;
  padding: 0;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07); }

.dropdown-item {
  padding: .4rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold; }

.dropdown-item:active {
  background-color: #f6f6f6;
  color: black; }

.glavna-nav-link:active {
  background-color: #1b65a9; }

/*dropdown responsive*/
@media (max-width: 990px) {
  .dropdown-menu {
    display: block;
    background-color: #1d70ba;
    border: 1px solid #1d70ba; }
  .dropdown-item {
    color: white; } }

/*FOOTER*/
#footer {
  margin-top: 20px;
  padding: 60px 0;
  background: #063E70;
  padding-bottom: 6px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

#footer h5 {
  text-transform: uppercase;
  font-size: 16px; }

#footer .prava {
  font-size: 14px;
  font-style: italic; }

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

#footer ul.ikonica-social li {
  padding: 3px 0; }

#footer ul.ikonica-social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.ikonica-social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

#footer ul.ikonica-social li a,
#footer ul.brzi-linkovi li a {
  color: #ffffff; }

#footer ul.ikonica-social li a:hover {
  color: #eeeeee; }

#footer ul.brzi-linkovi li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.brzi-linkovi li:hover {
  margin-left: 10px;
  font-weight: 700; }

#footer ul.brzi-linkovi li a i {
  margin-right: 5px; }

#footer ul.brzi-linkovi li:hover a i {
  font-weight: 700; }

#footer .kolona-footer-info {
  padding-left: 3rem;
  padding-right: 3rem; }

@media (max-width: 992px) {
  #footer .kolona-footer-info {
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }

hr {
  color: white;
  background-color: white; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    padding-bottom: 0px;
    margin-bottom: 10px; } }
