$glavna: #1d70ba;  /*#1d70ba*/
$glavna-hover: #1b65a9; /*#1b65a9*/
$sporedna: #063E70; /*#063E70*/
$sporedna-hover: #063c6b; /*#063c6b*/
$siva:#f6f6f6;
$dugme:#5c96ca; /*#5c96ca*/
$dugme-hover:#ca5c5c;/*#ca5c5c*/