@import 'variables';

/*Naslov*/
.naslov-galerija{
    text-transform:uppercase;
    font-size:2em;
    position: relative;
}
.naslov-galerija:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 300px;
    border:1px solid $sporedna;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
}

.galerija-item{
    margin-bottom:10px;
}
